/* GLOBAL */
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* HEADER */

.container_header{
color: white;
font-family: 'Catamaran', sans-serif;
background-image: url(./img/jumbo.png);
background-position: center;
background-size: cover;
width: 100%;
height: 626px;

}

.container_interaction {
    line-height: 27px;
    vertical-align: middle;
}

.logo{
    float: left;
      margin: 20px 0 0 310px;
}

.container_interaction > button {
    float: right;
}

.container_interaction > nav{
display: inline-block;
}