/* GLOBAL */
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.clearfix::after{
content: "";
display: table;
clear: both;
}

/* UTILITY */
.standardB{
     border-radius: 40px;
      font-size: 1.2rem;
    padding: 14px 32px;
    border: 0;
    cursor: pointer;
}

/* COLORING */
.Bdark{
   background-color: #23272A;
   color: white;
}

/* HEADER */

/* HEADER_INTERACTION */
.container_header{
color: white;
font-family: 'Catamaran', sans-serif;
background-image: url(./img/jumbo.png);
background-position: center;
background-size: cover;
width: 100%;
height: 626px;

}

.container_interaction {
    padding: 20px 0 0 310px;
    display: flex;
}

.logo{
    float: left;
    margin-right: 250px;
}

.container_interaction > button {
    float: right;
    border-radius: 40px;
    font-size: 14px;
    padding: 7px 16px;
    border: 0;
    cursor: pointer;
}

.container_interaction > nav{
display: inline-block;
  margin-right: 250px;
      word-spacing: 40px;
      font-size: 1.1rem;
}

.menù{
    text-decoration: none;
    color: white;
}

/* HEADER_MAINCONTENT */

.header_maincontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    padding-bottom: 300px;
}

h1{
    font-size: 4rem;
}

.header_text{
    font-size: 1.5rem;
    margin-top: 30px;
}
.Hbutton_containter{
    word-spacing: 20px;
    margin-top: 20px;
}



/* FOOTER */

.site_footer {
    background-color: #23272A;
    height:600px;
    width: 100%;
     font-family: 'Catamaran', sans-serif;
}



.main_footer{
    padding: 76px 0 0 200px;
   }
.footer_utility{
    float: left;
}

.footer_utility > h2{
    font-size: 2.5rem;
        max-width: 75%;
        color: #7289DA ; 
}

.Fmain_language > img{
     height: 15px;
}

.Fmain_language{
    margin: 20px 0px 15px 0;
}

.language{
    color: white;
}
.Floghi{
    color: white;
}

.loghi{
    word-spacing: 18px;
    font-size: 20px;
}

.menu_coloumn{
     color: #7289DA ; 
     text-align: left;
}

.menu_text{
    color: white;
     text-align: left;
     padding: 0 15px;
     cursor: pointer;
}

table td, table th{
    padding: 0 75px;
    font-weight: 900;
}

.footer_menu{
    font-size: 1.2rem;
}


.footer_endline{
        width: 95%;
}

.Bazure_footer{
    float: right;
    border-radius: 40px;
    font-size: 14px;
    padding: 10px 19px;
    border: 0;
    cursor: pointer;
     background-color: #8EA1E1;  
  color: white;

}

.end_of_line{
    margin-top:30px;
}

.footer_endline > hr{
    margin-top: 25px;
     border-color: #8EA1E1; 
}

.arrow{
    cursor: pointer;
}